@model Uplift.Models.ViewModels.ServiceViewModel
@{
    var title = "Create Service";
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.service.Id != 0)
        {
            <input type="hidden" asp-for="service.Id" />
            title = "Edit Service";
        }
        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
        </div>

        <div class="col-9">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="service.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="service.Name" class="form-control"/>
                    <span asp-validation-for="service.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="service.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="service.Price" id="txtPrice" class="form-control"/>
                    <span asp-validation-for="service.Price" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="service.LongDesc"></label>
                </div>
                <div class="col-8">
                    <input asp-for="service.LongDesc" class="form-control"/>
                    <span asp-validation-for="service.LongDesc" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="service.ImageUrl"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="service.FrequencyId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.service.FrequencyId, Model.frequecyList, "-- Please select --", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="service.CategoryId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.service.CategoryId, Model.categoryList, "-- Please select --", new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.service.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.service.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" onclick="return validateInput();" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col">
                                <a asp-action="index" class="btn btn-success form-control">Back to list</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

        @if (Model.service.Id !=0)
        {
            <div class="col-3">
                <img src="@Model.service.ImageUrl" width="100%" style="border-radius:5px; border:1px solid"/>
            </div>
        }
</form>

@section Scripts{
<script>
    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal("Error", "Please select an image", "error");
            return false;
        }

        return true;
    }

    $(document).ready(function () {
        console.log(document.getElementById("txtPrice").value);
        if (document.getElementById("txtPrice").value == "0") {
            document.getElementById("txtPrice").value = "";
        }
    });
</script>

 }
